
---
import Layout from '../layouts/Layout.astro';
import Files from '../components/Files.tsx'
---

<Layout title="Welcome to Astro.">
	<main>
    <Files client:visible/> 
	</main>
</Layout>

<style>
</style>
